.Row{
    padding: 70px;

}

.Card{
    
    width: 50%;

}
.Name {
    padding: 10px;
}
.Email {
    padding: 10px;
}

.Address {
    padding: 10px;
}

.Number{
    padding: 10px;
}

.recipient{
    padding: 10px;
}

.File{
    padding: 10px;

}

.Description{
    padding: 10px;
}

.Amount{
    padding: 10px;
}

.header-1{
    padding-top: 50px;

}
.header-2{
    padding-top: 50px;

}
.header-1 h1{
    text-align: center;
    font-weight: 700;   
}
.header-2 h1{
    text-align: center;
    font-weight: 700;   
}